*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

#master-container {
    font-size: 20px;
    margin: 0 auto;
    width: 98%;
    height: 95%;
}

.top-row-master {
    height: 250px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 1%;
    display: inline-flex;
}


/* styled navbar J.Aguirre*/
.navbar {
    display: flex;
    justify-content: space-evenly;
}

/* .navbuttons{

} */

a:link {
    color: white;
    text-decoration: none;
}
a:visited { 
    color: white;
}
.grow:hover:hover {
    transform: scale(1.15);
        transition: all .025s ease-in-out;

}

/*----------*/



h1 {
    text-align: left;
    margin-right: 15%;
    width: 90%;
    /* background: linear-gradient(180deg, #899197, #353839); */
    background: #4785c2;
    clip-path: polygon(0% 0%, 100% 0%, 85% 120%, 0% 100%);
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 7px 5px 5px -1px rgb(28, 28, 28);/* lightened shadow, clean up left edge shadow, smoother transition */
    opacity: 1.0;
    color: white;
    padding-left: 5%;
    font-weight: lighter;
    border-radius: 25px;
    border-width: 1px;
}

.top-row-container {
    height: 95%;
    width: 32%;
    /* background-color: rgba(255,255,255,.7); */
    background-color: rgb(255,255,255);
    border-radius: 25px;
    border-width: 1px;
    margin: 10px;
    box-shadow: 0px 5px 10px 0px black;
}

.clock {
    text-align: center;
    margin-top: 18%;
}

.clock-time,
.clock-ampm {
    font-size: 45px;
    color: #4785c2;
    font-weight: lighter;
}

.clock-time {
    font-size: 70px;
}

.bottom-row-master {
    height: 750px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.bottom-row-container {
    height: 90%;
    /* background-color: rgba(255,255,255,.7); */
    background-color: rgb(255,255,255);
    border-radius: 25px;
    border-width: 1px;
    margin: 10px;
    box-shadow: 0px 5px 10px 0px black;
    overflow: scroll;
}

#bottom-1 {
    width: 32%;
}

#bottom-2 {
    width: 66%;
}

@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 15px 0px 0px 0px;
      padding: 10px 15px;
    }
}
  
@media (max-width: 500px) {
    .btn {
      font-size: 1rem;
    }
}